body{
    background-color: blanchedalmond;
    
    height: auto;
}

.footer{
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: 100%;
}

.footer1{
    display: grid;
    border:none;                
}

.Bottom2{
    display: flex;
    background-color: #1d2a4d;
    color: white;
    height: 350px;
    padding: 20px;
    flex-direction: row;
    /* align-items: center;
    align-content: center; */
    justify-content: center;
}

.Bottom2 > div{
    padding: 40px;
}

.Bottom{
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 80px;
    flex-direction: row;
    color: gray;
    justify-content:space-evenly;
}

.Bottom a{
    text-decoration: none;
    color: rgb(7, 209, 216);
}

.Bottom> div{
        text-align: center;
        padding-top: 45px;
}

.Department{
    display: flex;
    flex-direction: column;
}

.Department > div{
    padding: 5px;
}

.Links{
    display: flex;
    flex-direction: column;
}

.Links> div{
    padding: 5px;
}




.Navbar{
left: 0;
right: 0;
top: 0;
width: 100%;
overflow: hidden;
background-color: white;
}

.Navbar a{
    float:left;   
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

.Dropdown{
    float: left;
    overflow: hidden;
}
.Dropdown .Dropbutton{
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.Navbar a:hover, .Dropdown:hover .Dropbutton{
background-color: sienna;
}

.Dropdown-content{
    display: none;
    position: absolute;
    background-color: khaki;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.Dropdown-content a{
    float: none;
    color: rosybrown;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.Dropdown-content a:hover{
    background-color: royalblue;
}
.Dropdown:hover .Dropdown-content{
    display: block;
}


.Appo{
    background-color: rgb(206, 84, 190);
    border-radius: 40px;
    width: 150px;
    height:auto;
    border: none;
    height: 50px;
    float: right;
    margin: 20px;
}
#Appo a{
    text-decoration: none;
    color: white;
    font-size: large;
}
#Appo:hover{
    border: cornflowerblue 3px solid;
    box-shadow: 2px 2px 3px blueviolet;
}

.Add{
    display: flex;
    flex-direction: row;
    padding: 50px;                
}

.Add> div{
    padding: 50px;
}

.Add2>div{
    text-align: left;
    padding-left: 200px;
}

.bg{
    display: grid;
    height: auto;
    background: linear-gradient(141deg, #0fb8ad 0%, #d46e0e 51%, #2cb5e8 75%);
    /* background-image:url(Hello.jpg); */
}

.hello{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    flex-direction: row;
    opacity: 80%;
    padding: 50px;  
    color: white;
    
}
.hello>div{
    padding: 30px;
}

.tick{
    display: flex;
    flex-direction: row;
}
ul{
    list-style-type:none;
}

.tabs{
    display:inline-flex;
    flex-direction: row;
    margin-left: 40px;
    margin-right: 0; 
    transition: 1s;
}

.tabs>div{  
    width: 150px;
    height: 250px;
    padding: 50px;
    margin-left: 50px;
    margin-bottom: -60px;
    margin-right: 0;
    border-radius: 20px;
    background-color: white;
}

.tabs>div:hover{
transform:translateY(-40px);
}

.Header{
    color: white;
    background-color: black;
    height: 50px;
    font-size: xx-large;
    padding: 20px;
}

.buy
{
    height: 40px;
    float: right;
    background-color: cadetblue;
    
}